*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 3px;
}
.left{
    width: 20%;
    height: 100vh;
    border-left: 2px solid rgb(197, 189, 189) ;
    border-top: 2px solid rgb(197, 189, 189) ;
    overflow-y: scroll;
    padding: 10px;
}

.right{
    width: 79%;
    border-left: 2px solid rgb(197, 189, 189) ;
    border-top: 2px solid rgb(197, 189, 189) ;
    padding: 10px;
}

.project img{
    width: 100%;
}
 .left p,hr,a{
    margin-top: 10px;
    margin-bottom: 10px;
 }